<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/header') %>
	<body>
			<div class="container">

				<%- include ('nav') %>
                <a href="/admin/create-project/" class="btn btn-success">Create Project</a>
                <a href="/admin/delete-all-projects/" class="btn btn-danger">Delete All Projects</a>
				
				<table class="table table-striped">	
					<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Company</th>
								<th scope="col">Location</th>
								<th scope="col">Start</th>
								<th scope="col">End</th>
								<th scope="col">❌</th>
							</tr>
						</thead>
						<tbody>
							<% projects.forEach(project => { %>
								<tr>
									<td><%= project.name %></td>
									<td><%= project.projectOwnerID.name %></td>
									<td><%= project.location %></td>
									<td><%= project.startDate %></td>
									<td><%= project.endDate %></td>
									<td><a href="/admin/delete-project/<%= project._id %>" class="btn btn-danger">X</a></td>
								</tr>
							<% }) %>
					</tbody>
				</table>
            </div>
			<%- include ('../partials/footer') %>
	</body>
</html>