<!DOCTYPE html>
<html lang="en">
<%- include ('partials/header') %>

  <body>
    <div class="container">
      <%- include ('partials/nav') %>
        <h1>Profile</h1>
        <div class="row">
          <div class="col w-50">
            <div class="card ">
              <img src="<%= user.image %>" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">
                  <%= user.name %>
                </h5>
                <h5 class="card-title">
                  <%= user.userType %>
                </h5>
                <a href="mailto:<%= user.email %>" class="btn btn-primary">
                  <%= user.email %>
                </a>
                <a class="btn btn-danger" href="/profile-edit/<%=user.id%>">Edit</a>
              </div>
            </div>

          </div>
          <div class="col w-50">
            <div class="card ">
              <div class="card-body">
                <h5 class="card-title">
                  Company's name: <%= data[0].name %>
                </h5>
                <h5 class="card-title">
                  Address: <%= data[0].address1 %>
                </h5>
                <h5 class="card-title">
                  City: <%= data[0].city %>
                </h5>
                <h5 class="card-title">
                  Country: <%= data[0].country %>
                </h5>
                <h5 class="card-title">
                  State: <%= data[0].state %>
                </h5>
                <h5 class="card-title">
                  Subsidiaries count: <%= data[0].subsidiaries_count %>
                </h5>
                <h5 class="card-title">
                  Subsidiaries branch count: <%= data[0].branches_count %>
                </h5>
                <h5 class="card-title">
                  Company status: <%= data[0].company_status %>
                </h5>
                <h5 class="card-title">
                  Role: <%= user.userType %>
                </h5>
              </div>
            </div>
          </div>
        </div>
    </div>
    <%- include ('partials/footer') %>
  </body>

</html>