<!DOCTYPE html>
<html lang="en">
<%- include ('partials/header') %>

  <body>
    <div class="container">
      <%- include ('partials/nav') %>
        <h2 class="text-center">Edit Profile Form</h2>
        <form action="/profile-edit/<%=user.id%>" method="post">
          <div class="form-group">
            <label for="userName">Enter profile's name: </label>
            <input value="<%=user.name%>" class="form-control" type="text" name="userName" />
          </div>

          <div class="form-group">
            <label for="userCountry">Enter user's country: </label>
            <input value="<%=user.country%>" class="form-control" type="text" name="userCountry" />
          </div>

          <div class="form-group">
            <label for="userEmail">Enter user's email: </label>
            <input value="<%=user.email%>" class="form-control" type="email" name="userEmail" />
          </div>
          <div class="form-group">
            <label for="userImage">Enter user's image: </label>
            <input value="<%=user.image%>" class="form-control" type="text" name="userImage" />
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <%- include ('partials/footer') %>
  </body>

</html>