<!DOCTYPE html>
<html lang="en">
<%- include ('partials/header') %>

  <body class="container">
    <%- include ('partials/nav') %>
      <% projects.forEach(project=> { %>
        <div class="card mb-3 ">
          <div class='row g-0'>
            <div class='col-md-4'>
              <img src="<%= project.image %>" class="img-fluid p-3 w-100" alt="project image">
            </div>
            <div class='col-md-8'>
              <div class="card-body">
                <h4 class="card-title text-uppercase">
                  <%= project.name %>
                </h4>
                <p class="card-text"><span class="fw-bold">Project ID: </span>
                  <%= project.id %>
                </p>
                <p class="card-text"><span class="fw-bold">Company: </span>
                  <%= project.projectOwnerID.name %>
                </p>
                <p class="card-text"><span class="fw-bold">Student(s): </span>
                  <% project.studentIDs.forEach(student=> { %>
                    <p>
                      <%= student.name %>
                    </p>
                    <% }) %>
                </p>
                <p class="card-text"><span class="fw-bold">Description: </span>
                  <%= project.description %>
                </p>
                <p class="card-text"><span class="fw-bold">Location: </span>
                  <%= project.location %>
                </p>
                <p class="card-text"><span class="fw-bold">Start Date:</span>
                  <%= project.startDate %>
                </p>
                <p class="card-text"><span class="fw-bold">End Date:</span>
                  <%= project.endDate %>
                </p>

                <% if (isCompany) { %>
                  <button class="btn btn-primary">
                    <a class="text-decoration-none text-light" href="/project-edit/<%=project.id %>">Edit</a>
                  </button>

                  <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#confirmDeleteModal">Delete
                  </button>
                  <% } %>

                <% if (isStudent) { %>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#confirmSignUpModal">Sign Up
                  </button>
                  <% } %>
                  
              </div>
            </div>
          </div>
        </div>
      <%- include('partials/modal-delete', {project}); %>
      <%- include('partials/modal-signup', {project}); %>
    <% }) %>

      <div class=" d-flex flex-row footer mt-auto py-3 ">
        <p class=" w-50 text-decoration-none d-flex flex-row" class="card-text">
          <span class="fw-bold">Total Pages: </span> <%= totalPages %>
        </p>
        <ul class="pagination">
          <% for (let i=1; i<=totalPages; i++){ %>
            <li class="page-item">
              <a class="page-link" href="?page=<%= i; %>">
                <%= i; %>
              </a>
            </li>
            <% } %>
        </ul>
      </div>
      <%- include ('partials/footer') %>
</body>

</html>