<!DOCTYPE html>
<html lang="en">
<%- include ('partials/header') %>

  <body>
    <div class="container">
      <%- include ('partials/nav') %>
        <h1>Projects</h1>

        <!-- <%= JSON.stringify(data) %> -->

        <div class="row d-flex justify-content-center">
          <% data.projects.forEach(project => { %>
            <div class="card mb-3" style="max-width: 750px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="<%= project.img %>" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= project.title %></h5>
                    <p class="card-text"><%= project.description %></p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <p class="card-text"><small class="text-muted">Project ID: <%= project.id %></small></p>
                  </div>
                </div>
              </div>
            </div>
        <% }) %>
      </div>
    </div>
    <%- include ('partials/footer') %>
  </body>

</html>