<!DOCTYPE html>
<html lang="en">
<%- include ('partials/header') %>

  <body class="container">
    <%- include ('partials/nav') %>

      <% projects.forEach(project=> { %>
        <div class="card mb-3">
          <div class='row g-0'>
            <div class='col-md-4'>
              <img src="<%= project.image %>" class="img-fluid p-3 w-100" alt="project image">
            </div>
            <div class='col-md-8'>
              <div class="card-body">
                <h4 class="card-title text-uppercase">
                  <%= project.name %>
                </h4>

                <!-- Project Details -->
                <p class="card-text"><span class="fw-bold">Project ID: </span><%= project.id %></p>
                <p class="card-text"><span class="fw-bold">Company: </span>                  
                    <%= project.projectOwnerID.name %>
                </p>
                <p class="card-text"><span class="fw-bold">Description: </span><%= project.description %></p>
                <p class="card-text"><span class="fw-bold">Location: </span><%= project.location %></p>
                <p class="card-text"><span class="fw-bold">Start Date:</span> <%= project.startDate %></p>
                <p class="card-text"><span class="fw-bold">End Date:</span> <%= project.endDate %></p>

                <!-- Project Signup -->
                <% if (!isStudent) { %>
                  <a class="btn btn-primary text-decoration-none" href="/project-edit/<%=project.id %>">Edit</a>
                  <a class="btn btn-danger text-decoration-none" href="/project-delete/<%=project.id%>">Delete</a>
                <% } %>
                <a class="btn btn-danger text-decoration-none" href="/project-signup/<%=project.id%>">Sign Up</a>
                
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    <%- include ('partials/footer') %>
  </body>
</html>